/*:root{
    --blue:#72D0CF;
    --yellowgreen:#DEE64C;
    --Freesia:#C8A741;
    --Seashell:#EACCAD;
}*/
/*global settings*/
root{
    --Purple:#9571AB;
    --Turquoise:#38CCED;
    --Babyblue:#A4D8FB;
    --BlueGrotto:#008FDE;

}
*,
html,
body{
    font-family: 'Ubuntu', sans-serif;
    border-top:#9571AB;
    background-color: #A4D8FB;
    color: #000000;
}

/*inputs*/

input{
    font-size: 16px;
    padding: 8px;
    outline: 0;
    border: 0;
    width: 280px;
    background-color: #ffffff;
    border: 1px solid #9571AB;
    border-radius: 6px;
}

input[type=submit]{
    width: auto;
    padding: 6px 16px;
    line-height: 24px;
    text-shadow: none;
    cursor: pointer;
    box-shadow: none;
    background-color: #9571AB;
    color: white;
}

/*paragraphs and anchors*/
p{
    margin: 6px 0;
    line-height: 24px;
}

a{
    text-decoration: none;
    color: #4e007a;
    transition: color .5s ease;
}

strong{
    font-weight: bold;
}

figcaption{
    line-height: 24px;
    font-size: 16px;
    width: 200px;
    
}

figcaption strong{
    border-bottom: 1px solid #008FDE;
    padding-bottom: 8px;
    margin: 8px 0;
    display: block;
}

/* Main Style*/
header{
    position: relative;
    width: auto;
    max-width: 900px;
    margin: 0 auto 20px auto;
}

header h1{
    margin: 36px 0 0 0;
    font-size: 56px;
    color:#4e007a;
    font-family: 'Chango', cursive;
}

header p{
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    color: #443b4a;
    margin-left: 132px;
}