/*:root{
    --blue:#72D0CF;
    --yellowgreen:#DEE64C;
    --Freesia:#C8A741;
    --Seashell:#EACCAD;
}*/

root{
    --Purple:#9571AB;
    --Turquoise:#38CCED;
    --Babyblue:#A4D8FB;
    --BlueGrotto:#008FDE;

}